.header a, a:hover {
	color: #271a15;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	letter-spacing: 3px;
	color: white;
	font-size: 90%;
}

.detailButton{
	width: 100%;
}

.mynavbar-inverse {
	border: 0;
	padding: 1%;
	background-color: #da0000 !important;
}

.listband{
	margin-left: 15px;
	margin-right: 15px;
}

.nav-pills>li>a {
	color: #fff;
}

.nav-pills>li>a:hover {
	background-color: red;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000000;
}

.list-group>a.active,.list-group>a.active:focus, .list-group>a.active:hover{
	color: black !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #efe8e8 !important;
	border-color: #efe8e8 !important;
}


.list-group>a{
	text-align: left;
}

.clear{
	clear: both;
	height: 63px;
}

.searchForm{
	padding-bottom: 23px;
}
.form-control {
	width: 550px !important;
}
.wrapper{
	min-height: 100%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #000000;
}

.productPhoto img{
	max-width: 240px !important;
}

.caption h3, a, p{
	text-align: center;
}

.caption h3{
	margin-top: 0px !important;
	vertical-align: bottom;
}
html, body{
	height: 100%;
}
@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1 {
		font-size: 280%;
		letter-spacing: 5px;
	}

	.header {
		text-align: center;
	}
}
.searchForm {
	margin-left: -30px;
}

footer{
	color: #666;
	background-color: #080606;
	padding: 17px 0px 18px 0px;
}

footer p{
	color: #999;
}

.thumbnail {
	height: 375px !important;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.thumbnail:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1) ;
	-o-transform: scale(1.1);
}

.detailImg{
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.detailImg:active{
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8) ;
	-o-transform: scale(1.8);
}

.listCategory {
	padding-top: 73px;
}

#f i{
	font-size: 27px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.detailImgTxt {
	text-align: center;
	font-size: 12px;
}

.detailImg {
	width: 100%;
}

.detailImg img{
	width: 100%;
}