.header a, a:hover {
	color: #271a15;
	text-decoration: none;
}

.header h1 {
	letter-spacing: 15px;
	font-size: 300%;
}

.header p {
	letter-spacing: 3px;
	color: white;
	font-size: 90%;
}

.navbar-inverse {
	padding: 1%;
	background-color: #c70707 !important;
}

.nav-pills>li>a {
	color: #fff;
}

.nav-pills>li>a:hover {
	background-color: red;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000000;
}

.list-group>li.active>a,.list-group>li.active>a:focus, .list-group>li.active>a:hover{
	color: #fff;
}


.clear{
	clear: both;
	height: 63px;
}

.searchForm{
	padding-bottom: 23px;
}
.form-control {
	width: 550px !important;
}
.wrapper{
	min-height: 100%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #000000;
}

.productPhoto img{
	max-width: 240px !important;
}

.caption h3, a, p{
	text-align: center;
}

.caption h3{
	margin-top: 0px !important;
	vertical-align: bottom;
}
html, body{
	height: 100%;
}
@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1 {
		font-size: 280%;
		letter-spacing: 5px;
	}

	.header {
		text-align: center;
	}
}
.searchForm {
	margin-left: -30px;
}

footer{
	color: #666;
	background-color: #080606;
	padding: 17px 0px 18px 0px;
}

footer p{
	color: #999;
}

.thumbnail {
	height: 375px !important;
}

.listCategory {
	padding-top: 73px;
}